// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.CheckState{
  background-color: gray;
  border: 0px;
}

.setBTN{
  font-size: 16px;
  width: 11rem;
}


.mat-header-cell {
  // font-weight: 600;
  font-size: 14px;
  color: black;
}





/* styles.css (หรือไฟล์ CSS/SCSS ที่คุณใช้) */
.col-lg-1-20 {
  position: relative;
  width: 5%;
  height: 1%;
  float: left;
}


.green{
  background-color: rgb(86, 206, 86);
}

.red{
  background-color: rgb(151, 151, 151)
}


.custom-card:hover {
  position: absolute;
  transition: 0.3s;
  transform: scale(1.1);
  z-index: 999;
  cursor: pointer;
}



// .additional-info {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
//   color: white;
//   padding: 10px;
//   display: none;
//   transition: opacity 0.3s ease;
// }


.additional-info {
  position: absolute;
  top: var(--pos4);
  bottom: var(--pos3);
  left: var(--pos1);
  right: var(--pos2);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  display: none;
  transition: opacity 0.3s ease;
  width: 100% ;
  box-sizing: border-box;
}

.custom-card:hover .additional-info {
  display: block;
  opacity: 1 ;
  // right: 0;
}


.off:hover{
  outline: none;
}
.off:focus{
  outline: none;
}
// :root {
//   --pos1: 1;
//   --pos2: 1;
// }
