.example-container {
  width: auto;
  height: 88vh;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


// .example-container {
//   background-image: url('https://img.freepik.com/free-photo/futuristic-technology-illuminates-robotic-arm-laboratory-generated-by-ai_188544-29912.jpg?t=st=1699953429~exp=1699957029~hmac=b68faa276f89e02893509664fbfcd6144fc8bb229f6c3bceae32e0a412dc5ecd'); /* ใส่ที่อยู่ของรูปภาพที่ต้องการเป็นพื้นหลัง */
//   background-size: cover; /* ปรับขนาดรูปภาพให้เต็มพื้นที่ */
//   background-repeat: no-repeat; /* ไม่ให้ภาพทำซ้ำ */
//   background-position: center center; /* ตำแหน่งของรูปภาพที่จะแสดง */
// }



