<ngx-ui-loader></ngx-ui-loader>

<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>Machine Monitoring</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" style="padding: 2px; ">
    <app-sidenav style=" filter: drop-shadow(2px 4px 6px black);"></app-sidenav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="col-lg-12">
      <router-outlet ></router-outlet>
    </div>
  </div>


</mat-drawer-container>

